
header {
    background-color: blue;
}
nav p {
    border-style: solid;
    border-color: black;
    margin: auto;
    border-top: none;
    border-radius: 20%;
    border-width: thin;


}
nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
