h1 {
    opacity: 1;
    color: white;
    text-align: center;
    display: block;
    line-height: 250px;
    font-size: 100pt;
}
header {
    background-color: rgb(4, 4, 104);
    border-style: solid;
    display: block;
    height: 500px;
    background-repeat: no-repeat;
    border-radius: 5%;
    background-image: url("band-image.jpg");
    background-position: top;
    padding: blue;
    opacity: 0.6;
    

    
    
}
nav p {
    border-style: solid;
    margin: auto;
    border-top: none;
    border-radius: 20%;
    border-width: thin;
    display: block;
    font-size: 25pt;
    padding: 2%;
    box-shadow: 2px 2px 2px 2px;
    


}
nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

