body {
    font-family: helvetica;
}
.home h1 {
    color: white;
    text-align: center;
    display: block;
    line-height: 250px;
    font-size: 100pt;
}
.home h2 {
    color: white;
    text-align: center;
    display: block;
    font-size: 50pt;
    line-height: 0.5px;
    position: relative;
    top: -25%;
    

}
.home {
    background-color: #92A3A1;
    border-style: solid;
    display: block;
    height: 500px;
    background-repeat: no-repeat;
    border-radius: 5%;
    background-image: url("band-image.jpg"); opacity: 0.75;
    background-position: top;
    border-color: black;
    

 
    

    
    
}
nav a{
    border-style: solid;
    margin: auto;
    border-top: none;
    border-radius: 20%;
    border-width: thin;
    display: block;
    font-size: 25pt;
    padding: 2%;
    box-shadow: 2px 2px 2px 2px;
    color: black;
    text-decoration: none;
    max-height: 50%;
    


}
nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
a:hover {
    opacity: 0.5;
}


