<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <meta charset="UTF-8">
    <title>Videos</title>
</head>
<body>
  <nav>
    <a href="index.html">Home</a>
    <a href="Music.html">Music</a>
    <a href="Videos.html">Videos</a>
    <a href="Gallery.html">Gallery</p>
    <a href="Back-to-the-80s.html">Back to the 80s</a>
  </nav>

  <header>
      <h1>X-Press</h1>
      <h2>Videos</h2>
  </header>

  <main>
    <iframe src="https://drive.google.com/file/d/1w76EWy745a7sHLlDW90T6hm6AtoVTBnS/preview" width="740" height=400 allow="autoplay" allowfullscreen></iframe>

  </main>

</body>
</html>