<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <link rel="stylesheet" type="text/css" href="normalize.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>
</head>

<body>

  <div class="splash">
  </div>
  <main>

    <nav>

      <h1>Home</h1>




      <button>Click</button>






      <a id="home" class="not-phone" href="index.html">Home</a>
      <a id="music" class="not-phone" href="Music.html">Music</a>
      <a id="videos" class="not-phone" href="Videos.html">Videos</a>
      <a id="gallery" class="not-phone" href="Gallery.html">Gallery</p>
        <a id="history" class="not-phone" href="Back-to-the-80s.html">History</a>



        <div class="switch-box">
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>

        </div>

    </nav>
    <aside>
      <a id="home" href="index.html">Home</a>
      <a id="music" href="Music.html">Music</a>
      <a id="videos" href="Videos.html">Videos</a>
      <a id="gallery" href="Gallery.html">Gallery</p>
        <a id="history" href="Back-to-the-80s.html">History</a>
    </aside>

    <header class="home">

      <div>
        <img src="X-PRESS.png">

        <h1>X-PRESS</h1>

        <h2>Home</h2>

      </div>
    </header>

    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at augue a quam
        placerat porttitor ac eget est. Aenean aliquet ac magna id condimentum. Fusce tempor quam nec erat lacinia
        luctus.
        Donec non nunc nisl. Integer faucibus diam eget justo mattis scelerisque. Aliquam vel leo quis augue cursus
        lobortis luctus in eros. Morbi in metus vitae diam lobortis consequat. Pellentesque varius nec risus
        a pellentesque. Phasellus erat tortor, finibus in pretium eget, sagittis non sem. Sed maximus mattis dui,
        non sodales erat blandit et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis mi mi, ultricies
        eu elit at, molestie aliquam mauris. Aliquam quis elit tellus. Interdum et malesuada fames ac ante ipsum primis
        in faucibus.
        Donec viverra orci ac pretium facilisis.</p>

      <p>Donec ornare purus urna, vel rutrum nunc luctus et. Morbi magna est, ullamcorper vitae justo ac, porta suscipit
        mauris. Ut libero turpis, maximus vel pretium nec, mattis sit amet lacus. Aenean ac luctus felis, in aliquam
        sem.
        Donec pulvinar sed lacus quis consequat. Fusce malesuada est dui, eget hendrerit massa ultrices ac. Etiam cursus
        purus eu risus ultrices, ultrices dapibus purus pretium. Donec nec sagittis augue. Nunc vitae egestas ex, vel
        lobortis elit. Fusce condimentum pretium ultricies. Curabitur volutpat tortor vel elementum aliquet. Integer a
        tempus
        tellus. Sed tincidunt auctor risus eget cursus. Etiam sed felis porta, rhoncus felis ac, fermentum dolor.</p>

      <p>Quisque vitae suscipit metus. Fusce id mi nunc. Praesent sed pretium purus. Proin at eleifend turpis.
        Nam ligula nulla, cursus facilisis metus vitae, sagittis malesuada nisi. Phasellus at nibh non tortor aliquet
        feugiat eu eget felis. Curabitur molestie pretium magna vel pulvinar. Nullam diam nibh, rhoncus sit amet ex
        eget,
        elementum consequat arcu. Nam ultrices feugiat diam, sodales dapibus tortor tincidunt eget. Proin et tempor
        eros.</p>
    </section>




  </main>
  <script src="main.js"></script>

</body>

</html>