@page
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css?version=1" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
 
 
  <header>
    <h1>X-Press</h1>
    <h2>Gallery</h2>
  </header>

</body>
</html>