@page
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

 
<header>
    <h2>Gallery</h2>
</header>
<component type="typeof(X_Press.Components.Counter)" param-InitialValue="0" render-mode="Server" />

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}