@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="css/main.css?version=2" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
</head>

<body>

    
    <main>

      

        <header class="home">

            <div>
                <img class="fade-in" src="Images/X-PRESS.png">

                <h1 class="display-1">X-PRESS</h1>

                <h2>Home</h2>

            </div>
        </header>

        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at augue a quam
                placerat porttitor ac eget est. Aenean aliquet ac magna id condimentum. Fusce tempor quam nec erat lacinia
                luctus.
                Donec non nunc nisl. Integer faucibus diam eget justo mattis scelerisque. Aliquam vel leo quis augue cursus
                lobortis luctus in eros. Morbi in metus vitae diam lobortis consequat. Pellentesque varius nec risus
                a pellentesque. Phasellus erat tortor, finibus in pretium eget, sagittis non sem. Sed maximus mattis dui,
                non sodales erat blandit et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis mi mi, ultricies
                eu elit at, molestie aliquam mauris. Aliquam quis elit tellus. Interdum et malesuada fames ac ante ipsum primis
                in faucibus.
                Donec viverra orci ac pretium facilisis.
            </p>

            <p>
                Donec ornare purus urna, vel rutrum nunc luctus et. Morbi magna est, ullamcorper vitae justo ac, porta suscipit
                mauris. Ut libero turpis, maximus vel pretium nec, mattis sit amet lacus. Aenean ac luctus felis, in aliquam
                sem.
                Donec pulvinar sed lacus quis consequat. Fusce malesuada est dui, eget hendrerit massa ultrices ac. Etiam cursus
                purus eu risus ultrices, ultrices dapibus purus pretium. Donec nec sagittis augue. Nunc vitae egestas ex, vel
                lobortis elit. Fusce condimentum pretium ultricies. Curabitur volutpat tortor vel elementum aliquet. Integer a
                tempus
                tellus. Sed tincidunt auctor risus eget cursus. Etiam sed felis porta, rhoncus felis ac, fermentum dolor.
            </p>

            <p>
                Quisque vitae suscipit metus. Fusce id mi nunc. Praesent sed pretium purus. Proin at eleifend turpis.
                Nam ligula nulla, cursus facilisis metus vitae, sagittis malesuada nisi. Phasellus at nibh non tortor aliquet
                feugiat eu eget felis. Curabitur molestie pretium magna vel pulvinar. Nullam diam nibh, rhoncus sit amet ex
                eget,
                elementum consequat arcu. Nam ultrices feugiat diam, sodales dapibus tortor tincidunt eget. Proin et tempor
                eros.
            </p>
        </section>




    </main>
    <script src="js/main.js"></script>

</body>

</html>
