@page
@model MusicModel
@{
    ViewData["Title"] = "Music";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css?version=1" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>Music</title>
</head>
<body>

  <main>



  <header class="other">
    <div>



    
    <h1>X-Press</h1>
    <h2>Music</h2>
    </div>
  </header>

 

    <section>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/344274507&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><a href="https://soundcloud.com/yppat" title="yppat" target="_blank" style="color: #cccccc; text-decoration: none;">yppat</a> · <a href="https://soundcloud.com/yppat/lions-club-2017" title="X-PRESS Sample" target="_blank" style="color: #cccccc; text-decoration: none;">X-PRESS Sample</a>
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/659883398&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><a href="https://soundcloud.com/yppat" title="yppat" target="_blank" style="color: #cccccc; text-decoration: none;">yppat</a> · <a href="https://soundcloud.com/yppat/x-press-sample-2" title="X-PRESS Sample 2" target="_blank" style="color: #cccccc; text-decoration: none;">X-PRESS Sample 2</a>
    </section>
  </main>
    <script src="js/main.js"></script>
</body>
</html>